*{
  box-sizing: border-box;
}

body{
  color: #222;
}

img{
  max-width: 100%;
}




.back-btn{
  width: 80px;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  padding: 5px 20px;
  border: 0;
  color: black;
  background-color: gainsboro;
  border-radius: 5px;
  cursor: pointer;
}

.update-post{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.confirm-page{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.confirm-page h2{
  margin: 2px;
}

.confirm-page span{
  margin: 10px;
}

.confirm-page .yes-btn{
  background-color: #FF0000;
}

.confirm-btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  justify-content: center;
}

.confirm-page .no-btn{
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  display: block;
  border: 0;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  cursor: pointer;
}

button{
  width: 100%;
  padding: 5px;
  display: block;
  border: 0;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}

a{
  cursor: pointer;
}

input:focus{
  border-color: blue;
}


.edit-post{
  text-align: center;
  margin-bottom: 20px;
}



